<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73016899489-4umfh5k7re3s0grh0vdgcthss5nhrva5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73016899489-4umfh5k7re3s0grh0vdgcthss5nhrva5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>73016899489-uf0benkbpos6f1gb7v3gdn1butqe8rgk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0QxeqWG15dAM9y1i_QQy-YGCv1fDEKpc</string>
	<key>GCM_SENDER_ID</key>
	<string>73016899489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jotDo</string>
	<key>PROJECT_ID</key>
	<string>jot-do-6a35f</string>
	<key>STORAGE_BUCKET</key>
	<string>jot-do-6a35f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73016899489:ios:771f21fa56672bb57cfde0</string>
</dict>
</plist>